In [3]:
def add():
    a = 2
    b = 3
    c = a + b
    print(c)

add()

5

In [4]:
def add(a,b): # parameter
    c = a + b
    print(c)

add(2,3) # argument

5

In [7]:
def add(lis):
    total = 0
    for i in lis:
        total = total + i
    return total
    

li = [1,2,5,6,74,8,6,9]

add(li)

111

In [10]:
def add_num(a , b):
    total = 0
    for i in range(a,b+1):
        total = total + i
    return total



start = int(input("enter the 1st number::----"))
end = int(input("enter the last number::----"))

print(f'summation of the range of values from {start} to {end}', add_num(start, end))

enter the 1st number::---- 5
enter the last number::---- 9

summation of the range of values from 5 to 9 35

In [11]:
lis = [1,2,5,6,74]

add(lis)

88

In [12]:
# reverse 

def reverse(a):
    for i in a:
        return a[:: -1]


li =[2,5,6,3,8]
reverse(li)

[8, 3, 6, 5, 2]

In [14]:
li =[2,5,6,3,8]
print(li[: 3])

[2, 5, 6]

In [15]:
def li_sum(a):
    total = 0
    for i in a:
        if i % 2==0:
         total = total + i
    return total

li =[2,5,6,3,8]
li_sum(li)

16

In [23]:
#find out unique values
def unique(a):
    dep =[]
    for v in a:
        if v not in dep:
            dep.append(v)
    return dep
        

li =[2,5,6,3,8,4,5,8,2,4,9]
unique(li)

[2, 5, 6, 3, 8, 4, 9]

In [36]:
li =[2,5,6,3,8,4,5,8,2,4,9]
li.count(5)

2

In [34]:
def nunique(a):
    dep =[]
    dup= []
    for i in a:
        dep.append(i)
        if dep.count(i)>1:
            dup.append(i)
    return(dup)



li =[2,5,6,3,8,4,5,8,2,4,9]
nunique(li)

[5, 8, 2, 4]

In [38]:
# concate
def concate(a,b):
    new_li= []
    for i in a:
        new_li.append(i)
    for j in b:
        new_li.append(j)
    return new_li

li1 =[1,2,5,4,36,8]
li2=[4,1,5,2,6,9,36]
concate(li1,li2)

[1, 2, 5, 4, 36, 8, 4, 1, 5, 2, 6, 9, 36]

In [43]:
#key word argument

def  value(name,age):
    print("name:" ,name)
    print("age:",age)


value(age= 26, name="sajib")

name: sajib
age: 26

In [47]:
def val( name,age= 26):
    print("name:" ,name)
    print("age:",age)

val("sajib")

name: sajib
age: 26

In [49]:
def val( name,age):
    print("name:" ,name)
    print("age:",age)

val("sajib")

TypeError: val() missing 1 required positional argument: 'age'