A function is a block of code which is orgnized and used as a reusable manner for performing a specific task

In [1]:
print(2)

2

In [2]:
li = [1,2,5,6]
len(li) # len()

4

In [3]:
print()
len()
input()
type()
int()
float()
range()
sum()
min()
max()
abs()
round() # can be 
sorted()
reversed()
any()
all()
''.join()
lower()
upper()
list()
tuple()
dict()
set()
enumerate()
zip()
slice()
chr() # work with ascii value
ord() ## work with ascii value
keys()
values()

TypeError: len() takes exactly one argument (0 given)

In [4]:
li = [1,25,9,3,4,8]
print(sum(li))

50

In [5]:
print(min(li))

1

In [6]:
print(max(li))

25

In [7]:
import math
print(math.pi)

3.141592653589793

In [9]:
print(math.sqrt(2))

1.4142135623730951

In [11]:
print(9 ** .5)

3.0

In [12]:
a = -5
abs(a)

5

In [15]:
a = 3.14161254
round(a, 3)

3.142

In [16]:
li = [1,25,9,3,4,8]
sorted(li)

[1, 3, 4, 8, 9, 25]

In [18]:
lis= list(reversed(li))
print(lis)

[8, 4, 3, 9, 25, 1]

In [22]:
li = [1,25,9,3,4,8]
sort= sorted(li, reverse=True)
sort

[25, 9, 8, 4, 3, 1]

In [24]:
a = [False,True,False,True]
any_true = any(a)
any_true

True

In [25]:
all_true = all(a)
all_true

False

In [33]:
a = 'hello world'
for i in a.split():
    print(i)

hello
world

In [36]:
li = ["string","apple","mask"]
new= " ".join(li)
new

'string apple mask'

In [37]:
a = 'hello world'
for i in a.split():
    print(i)

new= " ".join(a.split())
print(new)

hello
world
hello world

In [38]:
li = ["string","apple","mask"]
new_li = tuple(li)
type(new_li)

tuple

In [39]:
dic = dict(name = "python", age= "1957,165")
dic

{'name': 'python', 'age': '1957'}

In [40]:
dic.keys()

dict_keys(['name', 'age'])

In [41]:
dic.values()

dict_values(['python', '1957'])

In [43]:
li = ["string","apple","mask"]
for index, value in enumerate(li):
    print(index, "it is the value", value)

0 it is the value string
1 it is the value apple
2 it is the value mask

In [46]:
li = ["string","apple","mask",1,4,56,8,4]
new_sl= slice(2,6)
sli= li[new_sl]
print(sli)

['mask', 1, 4, 56]

In [49]:
a = ord("y")
a

121

In [52]:
a= chr(4650)
a

'áˆª'

In [54]:
# user defined 

def my_function():
    print("hello I am python")
my_function()

hello I am python

In [55]:
my_function()

hello I am python

In [57]:
my_function()

hello I am python

In [60]:
# parameterized 
def name(name):
    print(f'my name is {name}')
name("machine")

my name is machine

In [64]:
def name():
    #print('sajib')
    return 2
name()

2

In [65]:
# local 
def num():
  a = 10
  b = 20
  return(a+b)
num()

30

In [69]:
def num(x,y):
    res = x-y
    return(res)
    
num(2,3)

-1

In [72]:
def user():
    l= int(input("enter any number"))
    x= int(input("enter any number"))
    y= int(input("enter any number"))
    a= int(input("enter any number"))
    return (l,x), (y,a)

user()

enter any number 9
enter any number 3
enter any number 8
enter any number 2

((9, 3), (8, 2))

In [77]:
_, v2 = user()
v2

enter any number 9
enter any number 6
enter any number 8
enter any number 7

(8, 7)

In [75]:
a,b = 2,3
a

2

In [79]:
def squ(x,y):
    sq = x*y
    return sq

squ(5,3)

15

In [80]:
def squ(x,y):
    sq = x*y
    cu= x**3
    return (x+y), sq,cu

squ(5,3)

(8, 15, 125)

In [81]:
def num1():
    l= int(input("enter any number:::1" ))
    x= int(input("enter any number::: 2"))
    total = l + x
    return total
num1()

enter any number:::1 5
enter any number::: 2 9

14

In [83]:
def num2():
    result= num1()
    y= int(input("enter any number:::3" ))
    z= int(input("enter any number:::4" ))
    res = y * z
    g_tot= result + res
    return g_tot
num2()

enter any number:::1 5
enter any number::: 2 4
enter any number:::3 6
enter any number:::4 8

57