In [1]:
# 9. Write a Python program to clone or copy list
a = [1,2,5]
b = [5,6,2]

c = a.copy()
c

[1, 2, 5]

In [2]:
c.pop()

5

In [3]:
c

[1, 2]

In [4]:
a

[1, 2, 5]

In [5]:
d = b 
d

[5, 6, 2]

In [6]:
d.append(9)
d

[5, 6, 2, 9]

In [7]:
b

[5, 6, 2, 9]

In [11]:
s = ['S', 'A', 'J', 'I','B',' ', 'S','A',"H","A"] #  "abcd"
string = ''.join(s)
print(string)

SAJIB SAHA

In [1]:
#22 

a = [1,2,5,89,3,4]
indix = a.index(89)

In [2]:
indix

3

In [3]:
print(a.index(4))

5

In [6]:
#23 Write a Python program to flatten a shallow list.
li = [[1,2,5,96,7],[1,2,5],[9],[5,8,9]]
li

[[1, 2, 5, 96, 7], [1, 2, 5], [9], [5, 8, 9]]

In [9]:
for i in li:
    #print(i)
    for j in i:
        print(j)

1
2
5
96
7
1
2
5
9
5
8
9

In [15]:
li = [[1, 2, 5, 96, 7], [1, 2, 5], [9], [5, 8, 9]]
def flatten(new):
    return [j for i in new for j in i]

flatten(li)

[1, 2, 5, 96, 7, 1, 2, 5, 9, 5, 8, 9]

In [16]:
#24. Write a Python program to append a list to the second list.
a= [1, 2, 5, 96, 7]
b = [1, 2, 5, 9, 5, 8, 9]
print(a + b )

[1, 2, 5, 96, 7, 1, 2, 5, 9, 5, 8, 9]

In [17]:
a.extend(b)

In [18]:
a

[1, 2, 5, 96, 7, 1, 2, 5, 9, 5, 8, 9]

In [21]:
a= [1, 2, 5, 96, 7]
b = [1, 2, 5, 9, 5, 8, 9]
for i in a:
    #print(i)
    b.append(i)
print(b)

[1, 2, 5, 9, 5, 8, 9, 1, 2, 5, 96, 7]

In [26]:
def appen(li1,li2):
    for i in li1:
        #print(i)
        li2.append(i)
    return li2,li1,i
    


a= [1, 2, 5, 96, 7]
b = [1, 2, 5, 9, 5, 8, 9]
appen(a,b)

([1, 2, 5, 9, 5, 8, 9, 1, 2, 5, 96, 7], [1, 2, 5, 96, 7], 7)

In [36]:
# 25 Write a Python program to select an item randomly from a list.
li = ["apple","illish","mutton","shrimp","berry"]
import random
print(random.choice(li))

berry

In [42]:
# 26 skip
# 27. Write a Python program to find the second smallest number in a list.
a = [5,8,6,7,3]
a.sort()
a[1]

5

In [45]:
li1 = []
li = [1, 1, 0, 0, 2, 4, -2]
for i in li:
    #print(i)
    if i not in li1:
        li1.append(i)
        li1.sort()
print(li1[1])

0

In [51]:
li = [1, 1, 0, 0, 2, 4, -2]
def second_smallest(li):
    if len(li) < 2:
        return("don't match the required format")
    if len(li) ==2 and li[0] == li[1]:
        print("the number are common") 

    li2=[1]
    for i in li:
        if i not in li2:
            li2.append(i)
            li2.sort()
    return li2[1]

second_smallest(li)

0

In [54]:
li = [1, 1, 0, 0, 2, 4, -2]
 
def second_highest(li):
    if len(li) < 2:
        return "don't match the required format"
    if len(li) == 2 and li[0] == li[1]:
        print("the numbers are common")
    li2 = []
    for i in li:
        if i not in li2:
            li2.append(i)
    li2.sort(reverse=True)
    if len(li2) < 2:
        return "Not enough unique numbers"
    return li2
 
print(second_highest(li))

[4, 2, 1, 0, -2]

In [56]:
#29 Write a Python program to get unique values from a list.
my_list = [10, 20, 30, 40, 20, 50, 60, 40,'Hello', 'Hello']

print(list(set(my_list)))

[40, 10, 50, 20, 60, 'Hello', 30]

In [57]:
unique= []
for item in my_list:
    if item not in unique:
        unique.append(item)
print(unique)

[10, 20, 30, 40, 50, 60, 'Hello']

In [60]:
# 30. Write a Python program to get the frequency of the elements in a list.
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
feq = {}
for item in my_list:
    if item in feq:
        feq[item]+= 1 # feq[item] =feq[item] + 1
    else:
        feq[item] = 1
print(feq)

{10: 1, 20: 2, 30: 1, 40: 2, 50: 1, 60: 1}

In [63]:
#31. Write a Python program to count the number of elements in a list within a specified range.
my_list = [10, 20, 30, 40, 20, 50, 60, 40,80,90,70]
count = 0
mi= 80
mx= 90
new = []
for item in my_list:
    if mi <= item <= mx:
        count= count +1
        new.append(item)
print(count, new)

2 [80, 90]

In [64]:
def cout(li,min, max):
    count =0 
    for item in my_list:
        if mi <= item <= mx:
            count= count +1
            new.append(item)
    return count, min, max



my_list = [10, 20, 30, 40, 20, 50, 60, 40,80,90,70]
cout(my_list,80,90)

(2, 80, 90)

In [67]:
# 33. Write a Python program to generate all sublists of a list.
my_list = [10, 20, 30, 40]
from itertools import combinations
sub = []
for i in range(len(my_list)+1):
    temp = [list(x) for x in combinations(my_list,i)]
    if len(temp)>0:
        sub.extend(temp)
print(sub)

[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40], [10, 20, 30], [10, 20, 40], [10, 30, 40], [20, 30, 40], [10, 20, 30, 40]]

In [69]:
# 35 Write a Python program to create a list by concatenating a given list which range goes from 1 to n.
Sample= ['p', 'q']
n = 5
sample = []
for i in range(1, n+1):
    sample.append(f'p{i}')
    sample.append(f'q{i}')
print(sample)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [72]:
# 36. Write a Python program to get variable unique identification number or string.
x = 1000
print(format(id(x)))

2189334273808

In [73]:
#37. Write a Python program to find common items from two lists.
num1=[10,20,30,40,50,60]
num2=[40,50,60,70,80,90]
num3 = set(num1) & set(num2)
num3

{40, 50, 60}

In [75]:
# 39 Write a Python program to convert a list of multiple integers into a single integer.
a = [1,2,3,4] # 1234 means map 

num= int(''.join(map(str,a)))
num

1234

In [76]:
print(type(num))

<class 'int'>

In [87]:
new_a = (''.join(map(str,a)))

In [88]:
type(new_a)

str

In [89]:
# 40
from itertools import groupby
from operator import itemgetter

# Define a list 'word_list' containing words
word_list = ['be', 'have', 'do', 'say', 'get', 'make', 'go', 'know', 'take', 'see', 'come', 'think',
             'look', 'want', 'give', 'use', 'find', 'tell', 'ask', 'work', 'seem', 'feel', 'leave', 'call']

# Use 'groupby' to group and sort the words in 'word_list' based on the first letter of each word
# Iterate through the groups and print the first letter and the words starting with that letter
for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work