# A set(Unordered) is mutable, meaning you can add or remove elements. However, the elements inside a set must be immutable (e.g., numbers, strings, or tuples). For an immutable set, use frozenset.

In [1]:
se1 = {2,4,1,2,1,2}
se2 = set() # empty

In [7]:
se3 = set([4,4,5,5])
type(se3)

set

In [5]:
se2 = set([1,5,8,9])
print(type(se2))

<class 'set'>

In [6]:
se2 = set((1,5,8,9))
print(type(se2))

<class 'set'>

In [9]:
se = {1,2.0,True,"str",(1,4,5),[4,5,8]}
se

{(1, 4, 5), 1, 2.0, 'str'}

In [10]:
se = {1,2.0,True,"str",(1,4,5)}
se

{(1, 4, 5), 1, 2.0, 'str'}

In [11]:
type(se)

set

In [12]:
se[4]

TypeError: 'set' object is not subscriptable

In [13]:
se[1]  = "hi"

TypeError: 'set' object does not support item assignment

In [14]:
se

{(1, 4, 5), 1, 2.0, 'str'}

In [15]:
se.add(50)
se

{(1, 4, 5), 1, 2.0, 50, 'str'}

In [16]:
se.add(40)
se

{(1, 4, 5), 1, 2.0, 40, 50, 'str'}

In [17]:
se.add("hi")
se

{(1, 4, 5), 1, 2.0, 40, 50, 'hi', 'str'}

In [18]:
se.add("bye")
se

{(1, 4, 5), 1, 2.0, 40, 50, 'bye', 'hi', 'str'}

In [19]:
se.add(3.0)
se

{(1, 4, 5), 1, 2.0, 3.0, 40, 50, 'bye', 'hi', 'str'}

In [21]:
se.update([8])
se

{(1, 4, 5), 1, 2.0, 3.0, 40, 50, 8, 'bye', 'hi', 'str'}

In [23]:
se.update([3,9,7])
se

{(1, 4, 5), 1, 2.0, 3.0, 40, 50, 7, 8, 9, 'bye', 'hi', 'str'}

In [24]:
se.remove(3.0)
se

{(1, 4, 5), 1, 2.0, 40, 50, 7, 8, 9, 'bye', 'hi', 'str'}

In [25]:
se.discard(7)
se

{(1, 4, 5), 1, 2.0, 40, 50, 8, 9, 'bye', 'hi', 'str'}

In [32]:
se.pop()
se

{(1, 4, 5), 50, 'bye'}

In [34]:
se = {1, 2.0, 40, 50, 8, 9}
se.pop() # Removes a random element
se

{2.0, 8, 9, 40, 50}

In [35]:
# clear()

In [41]:
a = {1,4,58,8,4}
b ={2,5,6,7}
aa= {1,2,3,7}
# union
c = a.union(b)
c

{1, 2, 4, 5, 6, 7, 8, 58}

In [39]:
d= a | b | aa # join two or more sets 
d

{1, 2, 3, 4, 5, 6, 7, 8, 58}

In [42]:
# intersection
v = a.intersection(b)
v

set()

In [43]:
x = a.difference(b)
x

{1, 4, 8, 58}

In [44]:
a

{1, 4, 8, 58}

In [46]:
for index, value in enumerate(a):
    print(index, value)

0 8
1 1
2 58
3 4

In [47]:
4 in a

True

# frozenset

In [ ]:
#A frozenset is an immutable version of a set. Once created, it cannot be modified.

In [48]:
fs = frozenset([1,5,8,9,7])
fs

frozenset({1, 5, 7, 8, 9})

In [49]:
type(fs)

frozenset

In [51]:
fs.add([4])

AttributeError: 'frozenset' object has no attribute 'add'

In [52]:
fs.remove(5)

AttributeError: 'frozenset' object has no attribute 'remove'

In [53]:
5 in fs

True

In [54]:
new_fs= fs.union(["hi","bye"])
new_fs

frozenset({1, 5, 7, 8, 9, 'bye', 'hi'})

In [55]:
a

{1, 4, 8, 58}

In [57]:
total = 0
for i in a:
    total = total +i
print(total)

71

In [58]:
sum(a)

71

In [62]:
import math
a = {9}
math.sqrt(a)

TypeError: must be real number, not set

# Dictionary

In [63]:
li = [14,8,6,9]
new_li = dict(li)
new_li

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [72]:
dic = {
    "name" : "sajib",
    "age"  : 25
}

In [65]:
dic

{'name': 'sajib', 'age': 25}

In [66]:
dic.keys()

dict_keys(['name', 'age'])

In [67]:
dic.values()

dict_values(['sajib', 25])

In [69]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sajib saha\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sajib saha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sajib saha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sajib saha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sajib saha\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sajib saha\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [70]:
import pandas as pd

In [74]:
df = pd.DataFrame([dic])
df

    name  age
0  sajib   25

In [79]:
dic = {
    "name" : ["sajib", "ryhan", "shovon"],
    "age"  : [25, 26,27],
    "grade" : ["A+", "A", "B+"]
}
df = pd.DataFrame(dic)
df

     name  age grade
0   sajib   25    A+
1   ryhan   26     A
2  shovon   27    B+

In [82]:
dic = {
    "name" : ["sajib", "ryhan", "shovon"],
    "age"  : [25, 26,27],
    "grade" : ["A+", "A", "B+"]
}
print(dic)

{'name': ['sajib', 'ryhan', 'shovon'], 'age': [25, 26, 27], 'grade': ['A+', 'A', 'B+']}

In [85]:
dic["name"][0]

'sajib'

In [86]:
dic["grade"][2]

'B+'

In [88]:
dic = {
    "name" : ["sajib", "ryhan", "shovon"],
    "age"  : [25, 26,27],
    "grade" : ["A+", "A", "B+"]
}
df = pd.DataFrame(dic)
df

     name  age grade
0   sajib   25    A+
1   ryhan   26     A
2  shovon   27    B+

In [90]:
df["grade"][2] = "c+"

C:\Users\Sajib Saha\AppData\Local\Temp\ipykernel_3240\3488935083.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["grade"][2] = "c+"
C:\Users\Sajib Saha\AppData\Local\Temp\ipykernel_3240\3488935083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["grade"][2] = "c+"

In [91]:
df

     name  age grade
0   sajib   25    A+
1   ryhan   26     A
2  shovon   27    c+

In [102]:
a = {0: 10, 1: 25}
a

{0: 10, 1: 25}

In [103]:
a[1]= 21
a

{0: 10, 1: 21}

In [104]:
b  = {"hello": 5, "hi": 10}
b

{'hello': 5, 'hi': 10}

In [106]:
a.update(b)
a

{0: 10, 1: 21, 'hello': 5, 'hi': 10}

In [107]:
c = {"nice": 5,"noob": 8}
c

{'nice': 5, 'noob': 8}

In [110]:
dic1 = {}
for i in(a,b,c):
    #$print(i)
    dic1.update(i)
print(dic1)

{0: 10, 1: 21, 'hello': 5, 'hi': 10, 'nice': 5, 'noob': 8}

In [118]:
a = {0: 10, 1: 21, 'hello': 5, 'hi': 10, 'nice': 5, 'noob': 8}
n = "hello"
for i in a:
    #print(i)
    if i == n:
        print("true")
        continue
    else:
        print("false")

false
false
true
false
false
false

In [129]:
a = {0: 10, 1: 21, 'hello': 5, 'hi': 10, 'nice': 5, 'noob': 8}
for i, j in a.items():
    print(j ,"|||", i)

10 ||| 0
21 ||| 1
5 ||| hello
10 ||| hi
5 ||| nice
8 ||| noob

In [128]:
a = {0: 10, 1: 21, 'hello': 5, 'hi': 10, 'nice': 5, 'noob': 8}
n = 21
for value in a.values():
    #print(value)
    if value == 21:
        print("sajib")
        break
    else:
        print("ml")

ml
sajib

In [132]:
a = {0: 10, 1: 21, 'hello': 5, 'hi': 10, 'nice': 5, 'noob': 8}
n = "hello"
for key in a.keys():
    #print(value)
    if key == n:
        print("yes")
        break
    #else:
        #print("no")

yes

In [133]:
dic = {}
n  = 6
for i in range(1, n+1):
    dic[i] = i**i
print(dic)

{1: 1, 2: 4, 3: 27, 4: 256, 5: 3125, 6: 46656}

In [135]:
a = {"one" :1, "three": 3, "two": 2, "zero": 0}
a

{'one': 1, 'three': 3, 'two': 2, 'zero': 0}

In [136]:
for i in a.values():
    print(i)

1
3
2
0

In [140]:
val = list(a.values())
val.sort(reverse= True)
val

[3, 2, 1, 0]

In [148]:
for value in val:
    for key in a:
        print(key)
        if a[key]== value:
            print("matched", key,value)
a = {"one" :1, "three": 3, "two": 2, "zero": 0}

one
three
matched three 3
two
zero
one
three
two
matched two 2
zero
one
matched one 1
three
two
zero
one
three
two
zero
matched zero 0

In [149]:
total = 0
for i in a.values():
    total = total + i
print(total)

6

In [150]:
a = {"one" :1, "three": 3, "two": 2, "zero": 0, "one": 8}
a

{'one': 8, 'three': 3, 'two': 2, 'zero': 0}

In [151]:
if "three" in a:
    del a["three"]
print(a)

{'one': 8, 'two': 2, 'zero': 0}

In [152]:
a

{'one': 8, 'two': 2, 'zero': 0}

In [153]:
a["five"] = 5
a

{'one': 8, 'two': 2, 'zero': 0, 'five': 5}

In [159]:
key = ["red", "green", "blue"]
val = ["#00100f", "#0001f", "#000012f"]
new = dict(zip(key,val))
new

{'red': '#00100f', 'green': '#0001f', 'blue': '#000012f'}

In [161]:
color_dic= {
    "red" : "#00100f",
    "green" :"#0001f",
    "blue" :"#000012f"
}
sor_dic = sorted(color_dic.items()) # convert it into dictionary 
sor_dic

[('blue', '#000012f'), ('green', '#0001f'), ('red', '#00100f')]

In [ ]:
color_dic= {
    "red" : "#00100f",
    "green" :"#0001f",
    "blue" :"#000012f"
}
# sort it by key